<div class="page-layout carded left-sidenav">
    <div class="top-bg md-accent-bg h-55"></div>
    <!-- CENTER -->
    <div class="center layout-column m-0" layout="column" fill-height>
        <div class="mt-10" layout="column" layout-align="start start" ng-if="!themeDuoworld">
            <div class="v-header layout-column" layout="column" flex fill-width>
                <div class="title ml-15 mb-5" layout="column" layout-align="center start">
                    <div class="logo" layout="row" layout-align="start center">
                      <span class="logo-icon logo-icon-dashboard"></span>
                      <span class="logo-text">Dashboard</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="content-card flex layout-column mt-0 bg-gray">

            <md-content ms-scroll class="dashboard-responsive" flex>
                <div layout="row" layout-align="start center" style="background: #eee;z-index: 1;">
                    <div class="v-header layout-column" layout="column" flex ng-if="themeDuoworld">
                        <div class="title ml-15 mb-5" layout="column" layout-align="center start">
                            <div class="logo" layout="row" layout-align="start center">
                    <span class="logo-icon logo-icon-dashboard"></span>
                                <span class="logo-text">Dashboard</span>
                            </div>
                        </div>
                    </div>
                    <div layout="row" layout-align="start center">
                        <span class="op-5 mr-10 font-black">Filter: </span>
                        <md-menu md-position-mode="left bottom">
                            <md-button layout="row" layout-align="start center" class="pr-0 pl-10" ng-click="$mdMenu.open($event)">{{filterSimple}} <i class="material-icons ml-5">keyboard_arrow_down</i></md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <md-button ng-click="updateSimpleFilter('Today')"><i class="material-icons op-5">sort</i> Today</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="updateSimpleFilter('This month')"><i class="material-icons op-5">sort</i> This month</md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button ng-click="updateSimpleFilter('This year')"><i class="material-icons op-5">sort</i> This year</md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>

                        <md-button class="md-icon-button" ng-click="updateSimpleFilter('This month')"><md-icon md-font-icon="icon-refresh"></md-icon><md-tooltip>Refresh</md-tooltip></md-button>
                    </div>
                </div>

                <div class="datacounts-wrap" layout-lg="row" layout-md="row" layout-sm="column" layout-xs="column" layout-align="center center">
                    <div layout="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="center center" ng-repeat="(key, value) in categoryDashboards | groupBy:'row'" flex style="width: 100%">

                        <!--<div class="datacount-block block-{{dash.icon}}" ng-repeat="dash in value" flex layout="row" layout-align="center center">-->
                            <!--<div class="icon-portion">-->
                                <!--<img hide-sm src="assets/icons/{{dash.icon}}.svg" alt="">-->
                            <!--</div>-->
                            <!--<div class="data-portion" flex>-->
                                <!--<div class="title">{{dash.title}}</div>-->
                                <!--<div class="value" ng-if="dash.title == 'Total invoiced' || dash.title == 'Total received'">{{dash.value | isoCurrency:currency:0}}</div>-->
                                <!--<div class="value" ng-if="dash.title != 'Total invoiced' && dash.title != 'Total received'">{{dash.value}}</div>-->
                            <!--</div>-->
                        <!--</div>-->

                        <div class="datacount-block block-{{dash.icon}}" ng-repeat="dash in value" flex>
                            <div class="data-portion" flex fill-width>
                                <div class="value" ng-if="dash.title == 'Total invoiced' || dash.title == 'Total received'">{{dash.value | isoCurrency:currency}}</div>
                                <div class="value" ng-if="dash.title != 'Total invoiced' && dash.title != 'Total received'">{{dash.value}}</div>
                            </div>
                            <div class="iconn-portion" layout="row" layout-align="start center">
                                <!--<img hide-sm src="assets/icons/{{dash.icon}}.svg" alt="">-->
                              <span class="datacount-icon icon-{{dash.icon}}"></span>
                                <div class="title" flex>{{dash.title}}</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="graphs-wrap">
                    
                    <div class="datacounts-wrap" layout="row" layout-lg="row" layout-md="column" layout-sm="column" layout-xs="column">
                        <div layout="column" layout-lg="column" layout-md="row" layout-sm="row" layout-xs="column" layout-align="center start" flex-lg="20" flex-md flex-sm flex-xs class="datacount-block block-inset pv-10 ph-15 bg-white">
                            <div class="inner-number-block" flex fill-width>
                                <div>{{dailyInverted.text}}</div>
                                <div class="text-center">{{dailyInverted.amount|isoCurrency:currency}}</div>
                            </div>
                            <div class="inner-number-block" flex fill-width>
                                <div>{{monthlyInverted.text}}</div>
                                <div class="text-center">{{monthlyInverted.amount|isoCurrency:currency}}</div>
                            </div>
                            <div class="inner-number-block" flex fill-width>
                                <div>This year sales</div>
                                <div class="text-center">{{yearlySalesExtra|isoCurrency:currency}}</div>
                            </div>
                        </div>

                        <div layout="row" layout-lg="row" layout-md="row" layout-sm="column" layout-xs="column" layout-align="start center" flex>
                            <div class="datacount-block" flex>
                                <div class="block-title"><span class="t-0">Sales summary</span></div>
                                <iframe layout="column" flex fill-width fill-height
                                        frameborder='0'
                                        id="RevenueByInvoice"
                                        marginwidth="0"
                                        marginheight="0"
                                        height="{{contentHeight}}"
                                        onload=""
                                        allowfullscreen>
                                </iframe>
                            </div>
                            <div class="datacount-block" flex>
                                <div class="block-title"><span class="t-1">Subscription summary</span></div>
                                <iframe layout="column" flex fill-width fill-height
                                        frameborder='0'
                                        id="ActivationSummary"
                                        marginwidth="0"
                                        marginheight="0"
                                        height="{{contentHeight}}"
                                        onload=""
                                        allowfullscreen>
                                </iframe>
                            </div>
                        </div>
                    </div>

                    <div class="datacounts-wrap" layout="row" layout-lg="row" layout-md="row" layout-sm="column" layout-xs="column" layout-align="center start">
                        <div class="datacount-block" flex>
                            <div class="block-title"><span class="t-2">Revenue by Customers</span></div>
                            <iframe layout="column" flex fill-width fill-height
                                    frameborder='0'
                                    id="revenurByCustomers"
                                    marginwidth="0"
                                    marginheight="0"
                                    height="{{contentHeight}}"
                                    onload=""
                                    allowfullscreen>
                            </iframe>
                        </div>
                        <div class="datacount-block" flex style="pointer-events: all">
                            <div class="block-title">
                                <span class="t-3">Profiles by Country</span>
                            </div><p style="position: absolute;z-index: 1;right: 30px;top: 30px;font-size: 12px">Users with no country added : <b>{{alienUses}}</b></p>
                            <div class="p-10" id="HCContainer">
                                <!-- <nvd3 options="options" data="profileByCountry" style="height: auto"></nvd3> -->

                            </div>
                        </div>
                    </div>

                </div>

            </md-content>

        </div>
        <!-- / CONTENT -->
    </div>
</div>
